body{
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Dosis';
	color: white;
	display: block;
	margin: 0;
	width: 100%;
}

h1{
	font-size: 40pt;
	text-align: center;
	margin-bottom: 10px; 

}
#header {
	font-size: 20pt;
	text-align: center;
	width: 100%;
	z-index: -100;
	position: relative;

}

.plant{
	background-size: cover;

}


/* for navigation*/
.mainNav{
				background-color: transparent;
				position: sticky;
				top: 0;
				width: 100%;
				z-index: 100;
				text-align: center;
				list-style: none;
			}

.mainNav a{
				color: white;
				text-decoration: none;
				font-size: 20px;
				display: inline-block;
				padding: 10px;

			}

.mainNav .icon{
				display: none;
			}

.mainNav.responsive a{
					float: none;
					display: block;
					text-align: center;
				}

@media screen and (max-width: 600px){
				.mainNav a{display: none;}
				.mainNav a.icon{
					float: right;
					display: block;
				}
			}

@media screen and (max-width: 600px){
				.mainNav.responsive {position: relative;}
				.mainNav.responsive .icon {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
/* for nav */
#mission{
	position: relative;
	top: 100px;
	left: 0;

}

#mission p{	
font-size: 15pt;
float: left;
}
/* Contact Page */
#text h2 {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;

}

#text{
	width: 60%;
	height: 60%;
	margin: auto;
	position: relative;
	background-color: black;
	background: rgba(0, 0, 0, 0.4);

}





